.footer-left li, .footer-center li, .footer-right li{
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
}

@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;

    }
    .footer-copyright{
        text-align: center;

    }
    
}